h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1.75em;
}

p {
  border: 1px solid black;
  width: 100px;
  height: 25px;
  position: absolute;
  top:-20px;
  right:0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.23em;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

div#Chicken {
  background-color: #E6E6FA;
  width: 250px;
  height: 250px;
  float: left;
  padding-top: 60px;
  margin-right: 25px;
  margin-bottom: 25px;
  position: relative;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
div#Beef {
  background-color: #BC8F8F;
  width: 250px;
  height: 250px;
  float: left;
  padding-top: 60px;
  margin-right: 25px; 
  margin-bottom: 25px;
  position: relative;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
div#Sushi {
  background-color: #98FB98;
  width: 250px;
  height: 250px;
  float: left;
  padding-top: 60px;
  margin-right: 25px;
  margin-bottom: 25px;
  position: relative; 
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#p1 {
  background-color: #FFB6C1;
  text-align: center;


}
#p2 {
  background-color: #B22222;
  text-align: center;
  color: white;
}
#p3 {
  background-color: #F0E68C;
  text-align: center;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  div#Chicken {
    width: 30%;
    height: 140px;
  }
  div#Beef {
    width: 30%;
    height: 140px;
  }
   div#Sushi {
    width: 30%;
    height: 140px;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  div#Chicken {
    width: 40%;
    height: 120px;
  }
  div#Beef {
    width: 40%;
    height: 120px;
  }
   div#Sushi {
    width: 82%;
    height: 140px;
  }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  div#Chicken {
    width: 100%;
    height: 120px;
  }
  div#Beef {
    width: 100%;
    height: 120px;
  }
  div#Sushi {
    width: 100%;
    height: 120px;
  }
}

